@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap");
.header {
  position: fixed;
  width: 100%;
  height: 128px;
  z-index: 4;
}

@media (max-width: 425px) {
  .header {
    height: 96px;
  }
}

.header .logo a {
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  color: #252525;
  text-decoration: none;
  font-weight: 700;
}

.header .nav-toggle {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header .nav-toggle {
    margin-right: 24px;
  }
}

@media (max-width: 425px) {
  .header .nav-toggle {
    width: 20px;
    margin-right: 16px;
  }
}

.header .nav-toggle .hamburger-menu {
  width: 25px;
}

.header .nav-toggle .hamburger-menu span {
  text-align: center;
  margin-bottom: 0.3rem;
  background: #252525;
  height: 2px;
  width: 100%;
  display: block;
}

.header .nav-toggle .hamburger-menu-close {
  position: absolute;
  display: none;
}

@media (max-width: 768px) {
  .header .nav-toggle .hamburger-menu-close svg {
    width: 56px;
  }
}

@media (max-width: 425px) {
  .header .nav-toggle .hamburger-menu-close svg {
    width: 48px;
  }
}

.main {
  height: 50vh;
  height: calc(var(--vh, 1vh) * 50);
  background-color: #e2f5ee;
}

.main .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .row h2 {
  font-size: 3rem;
  line-height: 4.2rem;
  font-weight: 700;
  z-index: 10;
  color: #e2f5ee;
  mix-blend-mode: difference;
}

@media (max-width: 768px) {
  .main .row h2 {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}

@media (max-width: 425px) {
  .main .row h2 {
    margin-top: 72px;
    font-size: 1.7rem;
    line-height: 2.2rem;
  }
}

.main .row h2 .line {
  margin-bottom: 8px;
  height: 56px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 768px) {
  .main .row h2 .line {
    height: 48px;
  }
}

@media (max-width: 425px) {
  .main .row h2 .line {
    height: 32px;
  }
}

.main .row h2 .line span {
  position: absolute;
}

.main .row .btn-row {
  width: 256px;
  position: relative;
  z-index: 2;
}

.main .row .btn-row a {
  font-size: 1.6rem;
  color: #252525;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

@media (max-width: 768px) {
  .main .row .btn-row a {
    font-size: 1.3rem;
  }
}

@media (max-width: 425px) {
  .main .row .btn-row a {
    font-size: 1.1rem;
  }
}

.main .row .btn-row a svg {
  margin-left: 16px;
  border: 2px solid #252525;
  padding: 12px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

@media (max-width: 768px) {
  .main .row .btn-row a svg {
    padding: 6px;
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 425px) {
  .main .row .btn-row a svg {
    padding: 4px;
    width: 16px;
    height: 16px;
  }
}

.main .row .btn-row a:hover svg {
  background: #252525;
  color: #e2f5ee;
}

.cases {
  height: 50vh;
  height: calc(var(--vh, 1vh) * 50);
}

.cases .cases-navigation {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 6;
  padding: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 768px) {
  .cases .cases-navigation {
    display: none;
  }
}

.cases .cases-navigation .cases-arrow {
  background: rgba(0, 0, 0, 0.4);
  height: 72px;
  width: 72px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.cases .cases-navigation .cases-arrow svg {
  color: #e2f5ee;
  height: 28px;
  width: 28px;
}

.cases .cases-navigation .cases-arrow.disabled {
  opacity: 0.3;
}

@media (max-width: 768px) {
  .cases .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cases .row .case {
  position: relative;
  background: #252525;
  cursor: pointer;
}

.cases .row .case:hover .case-image {
  opacity: 0.4;
}

.cases .row .case .case-details {
  width: 33.3333vw;
  height: 50vh;
  height: calc(var(--vh, 1vh) * 50);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  position: relative;
}

@media (max-width: 768px) {
  .cases .row .case .case-details {
    width: 100vw;
  }
}

@media (max-width: 425px) {
  .cases .row .case .case-details {
    padding: 16px;
  }
}

.cases .row .case .case-details span {
  margin-top: 156px;
  font-size: 1.6rem;
  opacity: 0.8;
  color: #e2f5ee;
  font-weight: 600;
}

@media (max-width: 1366px) and (min-width: 769px) {
  .cases .row .case .case-details span {
    font-size: 1.4rem;
  }
}

@media (max-width: 425px) {
  .cases .row .case .case-details span {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
}

.cases .row .case .case-details h2 {
  font-size: 2.4rem;
  line-height: 3.4rem;
  width: 85%;
  margin-top: 16px;
  color: #e2f5ee;
}

@media (max-width: 1366px) and (min-width: 769px) {
  .cases .row .case .case-details h2 {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

@media (max-width: 425px) {
  .cases .row .case .case-details h2 {
    font-size: 1.7rem;
    line-height: 2.2rem;
    margin-top: 8px;
  }
}

.cases .row .case .case-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  opacity: 0.65;
  -webkit-transition: 0.4s cubic-bezier(0.6, -0.05, 0.1, 0.99);
  transition: 0.4s cubic-bezier(0.6, -0.05, 0.1, 0.99);
}

.cases .row .case .case-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

nav {
  left: 0;
  top: -1px;
  width: 100%;
  height: 90vh;
  z-index: 1;
  display: none;
  position: fixed;
  overflow: hidden;
  background: #faf4f4;
}

nav a {
  position: relative;
}

nav a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #252525;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

nav a:hover {
  color: pink;
}

nav a:hover:after {
  width: 100%;
  left: 0;
  background: #252525;
}

nav .nav-columns {
  -webkit-transform: translateY(125px);
          transform: translateY(125px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 32px;
}

@media (max-width: 654px) {
  nav .nav-columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 654px) and (max-width: 425px) {
  nav .nav-columns {
    padding: 0 16px;
  }
}

nav .nav-columns .nav-column {
  width: 45%;
}

@media (max-width: 654px) {
  nav .nav-columns .nav-column {
    width: 100%;
  }
}

nav .nav-columns .nav-column:last-child {
  width: 55%;
}

@media (max-width: 654px) {
  nav .nav-columns .nav-column:last-child {
    width: 100%;
  }
}

nav .nav-columns .nav-column .nav-label {
  margin-bottom: 3rem;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  nav .nav-columns .nav-column .nav-label {
    font-size: 1rem;
    margin-bottom: 1.4rem;
  }
}

@media (max-width: 425px) {
  nav .nav-columns .nav-column .nav-label {
    font-size: 0.875rem;
    margin-bottom: 1.2rem;
  }
}

nav .nav-columns .nav-column .nav-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}

@media (max-width: 654px) {
  nav .nav-columns .nav-column .nav-infos {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

nav .nav-columns .nav-column .nav-infos .nav-info {
  padding: 0;
  width: 50%;
}

@media (max-width: 654px) {
  nav .nav-columns .nav-column .nav-infos .nav-info:nth-child(2), nav .nav-columns .nav-column .nav-infos .nav-info:nth-child(3) {
    display: none;
  }
}

nav .nav-columns .nav-column .nav-infos .nav-info .nav-info-label {
  font-weight: 600;
}

nav .nav-columns .nav-column .nav-infos .nav-info li {
  font-weight: 300;
  list-style: none;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

@media (max-width: 768px) {
  nav .nav-columns .nav-column .nav-infos .nav-info li {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 425px) {
  nav .nav-columns .nav-column .nav-infos .nav-info li {
    font-size: 1rem;
    margin-bottom: 0.875rem;
  }
}

nav .nav-columns .nav-column .nav-infos .nav-info li a {
  text-decoration: none;
  color: #252525;
}

nav .nav-columns .nav-column .nav-links {
  padding: 0;
  margin: 0;
}

nav .nav-columns .nav-column .nav-links li {
  list-style: none;
  margin-bottom: 2.4rem;
}

@media (max-width: 425px) {
  nav .nav-columns .nav-column .nav-links li {
    margin-bottom: 1.6rem;
  }
}

nav .nav-columns .nav-column .nav-links li a {
  font-weight: 600;
  font-size: 2.8rem;
  text-decoration: none;
  color: #252525;
}

@media (max-width: 425px) {
  nav .nav-columns .nav-column .nav-links li a {
    font-size: 2rem;
  }
}

body,
html {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #e2f5ee;
  visibility: hidden;
  overscroll-behavior: none;
  margin: 0;
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1560px;
  min-width: 1560px;
  margin: 0 auto;
  height: 100%;
}

@media (max-width: 1560px) {
  .container {
    width: 1280px;
    min-width: 1280px;
  }
}

@media (max-width: 1366px) {
  .container {
    width: 1080px;
    min-width: 1080px;
  }
}

@media (max-width: 1080px) {
  .container {
    width: 100%;
    min-width: 100%;
  }
}

.container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0 32px;
}

@media (max-width: 425px) {
  .container .row {
    padding: 0 16px;
  }
}

.container .v-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-fluid {
  width: 100%;
  height: 100%;
}

.container-fluid .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.intro-overlay .top {
  height: 50vh;
  height: calc(var(--vh, 1vh) * 50);
  position: absolute;
  width: 100%;
  z-index: 8;
}

.intro-overlay .top .overlay-top {
  position: absolute;
  height: 100%;
  width: 33.333vw;
  background: #252525;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 768px) {
  .intro-overlay .top .overlay-top {
    width: 100vw;
  }
}

.intro-overlay .top .overlay-top:nth-child(2) {
  left: 33.333%;
}

@media (max-width: 768px) {
  .intro-overlay .top .overlay-top:nth-child(2) {
    display: none;
  }
}

.intro-overlay .top .overlay-top:nth-child(3) {
  left: 66.666%;
}

@media (max-width: 768px) {
  .intro-overlay .top .overlay-top:nth-child(3) {
    display: none;
  }
}

.intro-overlay .bottom {
  height: 50vh;
  height: calc(var(--vh, 1vh) * 50);
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 8;
}

.intro-overlay .bottom .overlay-bottom {
  position: absolute;
  height: 100%;
  width: 33.333vw;
  background: #252525;
  bottom: 0;
  right: 66.666%;
}

@media (max-width: 768px) {
  .intro-overlay .bottom .overlay-bottom {
    right: 0;
    width: 100vw;
  }
}

.intro-overlay .bottom .overlay-bottom:nth-child(2) {
  right: 33.333%;
}

@media (max-width: 768px) {
  .intro-overlay .bottom .overlay-bottom:nth-child(2) {
    width: 100vw;
    top: 100%;
    right: 0;
  }
}

.intro-overlay .bottom .overlay-bottom:nth-child(3) {
  right: 0;
}

@media (max-width: 768px) {
  .intro-overlay .bottom .overlay-bottom:nth-child(3) {
    width: 100vw;
    top: 200%;
  }
}

.App {
  z-index: 2;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  position: relative;
}

.page {
  height: 100vh;
  width: 100%;
  background: #e2f5ee;
}

.page .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=App.css.map */